/*
Outra cor de background
#0066cc

*/

.container{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ff9900;
}

.container2{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #0066cc;
}
.secao{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-bottom: 5%;
}

.subContainer{
    display: flex;
    flex-direction: row;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.titulo{
    font-size: 44px;
    width: 120%;
    margin-bottom: 3%;
}

.sub_titulo{
    font-size: 30px;
}

.texto{
    font-size: 18px;
    text-align: left;
}