@font-face {
    font-family: oswald-bold;
    src: url(../../../public/fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: oswald-regular;
    src: url(../../../public/fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: oswald-light;
    src: url(../../../public/fonts/Oswald-Light.ttf);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ff9900;
}

.container2{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #0066cc;
}
.secao{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10%;
    margin-bottom: 5%;
}

.subContainer{
    display: flex;
    flex-direction: row;
    width: 120%;
}

.gif{
    max-width: 512px;
    height: fit-content;
}

.wrapper{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: 10%;
}

.titulo{
    font-family: oswald-regular;
    font-size: 44px;
    width: 140%;
    margin-bottom: 3%;
}

.sub_titulo{
    font-family: oswald-regular;
    font-size: 36px;
    text-align: left;
}

.sub_titulo_underline{
    font-family: oswald-regular;
    font-size: 36px;
    text-align: left;
    text-decoration: underline;
}

.texto{
    font-family: oswald-light;
    text-align: left;
    font-size: 22px;
    line-height: 160%;
}

@media only screen and (max-width: 1240px){
    .texto{
        width: 120%;
    }
    .gif{
        max-width: 409.6px;
        height: fit-content;
    }
    .sub_titulo{
        width: 110%;
    }
    .sub_titulo_underline{
        width: 110%;
    }

    .secao{
        margin-bottom: 30vh ;
    }

}

  /* Estilos para telas de 992 pixels ou mais */
  @media only screen and (max-width: 992px) {
    .texto{
        width: 100%;
    }
    
    .gif{
        max-width: 409.6px;
        height: fit-content;
    }
    .subContainer{
        flex-direction: column;
    }
    .wrapper{
        margin-left: 0;
    }
    .titulo{
        font-size: 40px;
        width: 120%;
    }
    
    .sub_titulo{
        margin-top: 6%;
        font-size: 32px;
    }
    
    .sub_titulo_underline{
        margin-top: 4%;
        font-size: 32px;
    }
    
    .texto{
        margin-top: 2%;
        font-size: 20px;
    }
    .secao{
        margin-bottom: 30%;
    }
}
  /* Estilos para telas de 768 pixels ou mais */
  @media only screen and (max-width: 768px) {
    .gif{
        max-width: 384px;
        height: fit-content;
    }
    .wrapper{
        margin-left: 0;
    }
    .subContainer{
        flex-direction: column;
    }
  
    .titulo{
        font-size: 36px;
        width: 110%;
    }
    
    .sub_titulo{
        font-size: 28px;
    }
    
    .sub_titulo_underline{
        font-size: 28px;
    }
    
    .texto{
        font-size: 18px;
    }
    .secao{
        margin-bottom: 25% !important;
    }
  }

@media only screen and (max-width: 601px) {
    .gif{
        max-width: 256px;
        height: fit-content;
    }
    .subContainer{
        flex-direction: column;
    }
    .wrapper{
        margin-left: 0;
    }
    .titulo{
        font-size: 28px;
        width: 100%;
    }
    
    .sub_titulo{
        font-size: 20px;
    }
    
    .sub_titulo_underline{
        font-size: 20px;
    }
    
    .texto{
        font-size: 16px;
    }
  }
  
  
