.container{
    background: rgb(0,102,204);
    background: linear-gradient(180deg, rgba(0,102,204,1) 20%, rgba(255,153,0,1) 100%);
    width: 100%;
    height: fit-content;
    padding: 10%;
    display: flex;
    justify-content: space-around;
}

.formulario{
    padding: 10%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    background-color: #0066cc;
}

.input{
    margin-top: 5%;
    margin-bottom: 5%;
    border-color:#cccccc;
    border-width:2px;
    border-radius:16px; 
    padding:8px; 
    font-size:14px; 
    border-style:double; 
    background-color:#e0e0e0;
}

.textField{
    padding:32px; 
}

.button{
    background-color:#44c767;
	border-radius:30px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.contato{
    font-size: 48px;
}