@font-face {
    font-family: oswald-bold;
    src: url(../../../public/fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: oswald-regular;
    src: url(../../../public/fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: oswald-light;
    src: url(../../../public/fonts/Oswald-Light.ttf);
}

.container{
    display: flex;
    background-color: #ffcc00;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.secao{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100%;
    padding-left: 10%;
}

.subContainer{
    padding-bottom: 10%;
}

.h1{
    font-family: oswald-bold;
    font-size: 100px;
    white-space: nowrap;
}

.h2{
    font-family: oswald-light;
    font-size: 40px;
    width: 30%;
    white-space: nowrap;
}

 /* Estilos para telas de 1200 pixels ou mais */
 @media only screen and (max-width: 1200px) {
    .h1{
        font-size: 100px;
    }
    .h2{
        font-size: 40px;
    }
  }
  /* Estilos para telas de 992 pixels ou mais */
  @media only screen and (max-width: 992px) {
    .h1{
        font-size: 75px;
    }
    .h2{
        font-size: 30px;
    }
    .subContainer{
        padding-bottom: 18%;
    }
  }
  
  /* Estilos para telas de 768 pixels ou mais */
  @media only screen and (max-width: 768px) {
    .h1{
        font-size: 60px;
    }
    .h2{
        font-size: 24px;
    }
    .subContainer{
        padding-bottom: 28%;
    }
  }
 
  /* Estilos para telas de 601 pixels ou mais */
  @media only screen and (max-width: 601px) {
    .h1{
        font-size: 50px;
        white-space: pre-wrap;
        max-width: 40%;
    }
    .h2{
        font-size: 20px;
    }
    .subContainer{
        padding-bottom: 40%;
    }
  }
  
