.carousel{
    display: flex;
    position: absolute;
    top: 20%;
    right: 20px;
    width: fit-content;
    height: fit-content;
  }

.imgs{
    max-width: 216px;
    max-height: 216px;
    object-fit: cover;
    overflow: hidden;
}

@media only screen and (max-width: 601px){
  .imgs{
    max-width: 151.2px;
    max-height: 151.2px;
  }
}
  