@font-face {
    font-family: oswald-regular;
    src: url(../../../public/fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: oswald-light;
    src: url(../../../public/fonts/Oswald-Light.ttf);
}

.menuNav{
    position: fixed;
    height: 100vh;
    padding-right: 2% ;
    padding-left: 2%;
    margin-left: 92vw;
    z-index: 1000;
}


.lista {
    list-style: none;
    min-height: 100%;
}

.images{
    width: 4vh;
    margin-bottom: 5vh;
}


.li{
    margin-top: 20%;

}

.infos{
    text-align: left;
    font-size: 22px;
    font-family: oswald-regular;
}

.descricao{
    font-size: 16px;
    font-family: oswald-light;
    margin-bottom: 55%;
}

.hamburguerMenu {
    cursor: pointer;
    z-index: 2000;
    height: 100px;
    position: relative;
    margin-bottom: 30vh;
}
  
.hamburguerMenuBar1{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    display: block;
    top: 45%;
    left: 0;
    transform-origin: center center;
}

.hamburguerMenuBar2{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    display: block;
    bottom: -38%;
    left: 0;
    transform-origin: center center;
}


.hamburguerMenuBarTransition{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    display: block;
    top: 50%;
    left: 0;
    transform-origin: center center;
}
  
.menuLinks{
    position: fixed;
    padding-left: 1%;
    z-index: 2000;
    width: fit-content;
    height: 100%;
    background-color: #0066cc;
}
