.menuNav{
    position: fixed;
    margin-top: 10vh;
    margin-left: 92vw;
    z-index: 1000;
}

.lista {
    list-style: none;
    min-height: 80vh;
}

.images{
    width: 4vh;
    margin-bottom: 5vh;
}

.menuHamburguer{
    cursor: pointer;
    width: 4vh;
    margin-bottom: 44vh;
  }

.menuX{
    cursor: pointer;
    width: 2.5vh;
    margin-bottom: 5vh;
    z-index: 1000;
}


.menuDesabilitado{
    display: none;
}

.menu{
    padding: 0;
    width: 40%;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    margin-left: 90vw;
    z-index: 1000;
}

.li{
    margin-bottom: 100%;
}

.infos{
    text-align: right;
    font-size: 24px;
}
  
